@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width: 50px;
    height: 50px;
}

.memeImages {
   max-width: 100%; 
}

.top-text {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.bottom-text {
    position: absolute;
    z-index: 3;
    bottom: 0;
    margin-bottom: 15px;
}

.relative {
    position: relative;
}

.text-wrap {
    flex-wrap: wrap;
}

.stroke{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

